.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */

*:first-child+html .clearfix { zoom: 1; } /* IE7 */

* {
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

body {
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding-top: 70px;
	color: white;
	background: #314755;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #26a0da, #314755);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #26a0da, #314755); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Manrope', sans-serif;
}

.main-wrapper {
	padding: 0 40px;
	position: relative;
}


a {
	color: white;
	text-decoration: none;
	transition: all 0.2s ease;
}

a.underline {
	border-bottom: 2px solid white;
}

a.underline:hover {
	border-bottom-style: dashed;
}

a:hover {
	transform: scale(1.2);
}

p {
	font-size: 19px;
	line-height: 27px;
	margin-bottom: 22px;
}

ul {
	list-style: none;
	max-width: 300px;
	margin: 10px auto 45px auto;
}

li {
	display: inline-block;
	width: 49%;
	text-align: center;
}

li img {
	max-width: 70%;
}

.image-wrapper {
	height: 210px;
	width: 213px;
	border-radius: 50%;
	border: 2px solid white;
	margin: 0px auto 30px auto;
	overflow: hidden;
}

.image-wrapper img {
	height: 100%;
	display: block;
}

.content {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
	text-align: justify;
}

.contact {
	margin: 30px 0 60px 0;
	text-align:center;
}

.contact a {
	margin: 0 5px;
}